.body{background-color: #555;}
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    .footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
      padding-top: 20px;
      background-color: #555;
      height: 100%;
    }
      .row.content {height:auto;} 
    }
     .upload{
   background-color: lightgrey;
    width: 400px;
    border: 5px solid green;
    padding: 0px;
    padding-top:0px;
    margin: 0px;
    margin-top: 0px;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
    }
    table{
       border-collapse: separate;
       table-layout: auto;
       width: 100%;
       border: 2px solid black;
    }
    tbody{
      background-color:#f5f5f5;
    
      height: 10px;
        
    }
    tr{
        
    }
    td{
  border: 6px solid #555;
  height: 100px;
  margin: 20px;
  padding: 20px;
  width: 400px;
    }
    